{{template "base" .}}

{{define "content"}}
    <div class="container">
    <title>Home</title>
        <div class="row">
            <div class="col">
                <h1>This is the authentication page</h1>
            </div>
        </div>
    </div>
{{end}}